<div class="container-fluid">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
          <div class="hero-unit">
            <h1>GET @ ME</h1>
          </div>

          <div class="well">
            <a href="https://twitter.com/money_mikec"><h2>TWITTER</h2></a>
          </div>

          <div class="well">
            <a href="http://www.linkedin.com/in/mikechaumc"><h2>LINKEDIN</h2></a>
          </div>

          <div class="well">
            <a href="https://github.com/mikechau/"><h2>GITHUB</h2></a>
          </div>

      </div>
    </div>

  </div>
</div>