<div class="container-fluid">

<% @videos.each do |v| %>
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <h2><%= v[:name] %></h2>
        <p>by <%= v[:poster] %> @ <%= v[:ts] %></p>
      </div>
    </div><!-- /s12 -->
  </div><!-- /row-fluid -->

  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <!-- video goes here -->
      </div>
    </div>
  </div><!-- /row-fluid -->
<% end %>

</div><!-- /container-fluid-->