@import "bootswatch/cyborg/variables";

@import "bootstrap";

body { padding-top: 60px; }

@import "bootstrap-responsive";
@import "bootswatch/cyborg/bootswatch";

@import "mediaelement_rails";
@import "mediaelement_rails/mejs-skins";

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.note {
  text-align: center;
}